<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickCash"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".ui.Authentication.RegisterationActivity"
            android:exported="true"
            android:label="QuickCash">

        </activity>
        <activity android:name=".ui.PayPal.Payment"
            android:exported="true"
            android:label="Pay">

        </activity>
        <activity
            android:name=".ui.Authentication.LoginActivity"
            android:exported="true"
            android:label="QuickCash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".ui.Job.JobSearch"
            android:exported="true"
            android:label="QuickCash">

        </activity>

        <activity
            android:name=".ui.Job.ModifyJob"
            android:exported="true"
            android:label="QuickCash">
        </activity>

        <activity
            android:name=".ui.home.HomePage"
            android:exported="true"
            android:label="QuickCash">

        </activity>

        <activity android:name=".ui.Profile.EmployerProfile"
            android:exported="true"
            android:label="Profile">
        </activity>

        <activity
            android:name=".ui.Job.ApplyJobActivity"
            android:exported="true"
            android:label="QuickCash">
        </activity>

        <activity
            android:name=".ui.preferenceSystem.preferenceSystem"
            android:exported="true"
            android:label="QuickCash">
        </activity>
    </application>

</manifest>